/*********************************************
	Inherited Styles
**********************************************/

html {
    box-sizing: border-box;
    color: #444;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/*********************************************
	Defaults
**********************************************/
h1, h2, h3 {
    font-weight: bold;
    
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1.4em;
}

main > * + * {
    padding: 20px 0;
}

img {
    border: none;
}

button {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

input {
    color: black;
}

label {
    font-weight: bold;
}

/*********************************************
	Helpers
**********************************************/

/*********************************************
    Layout
**********************************************/
body {
    background-color: grey;
}
.panel {
    background-color: white;
}

.panel > div {
    /*background-color: purple;*/
    text-align: center;
    position: relative;
}

@media (max-width: 930px) {
    .panel > div {
    width: 930px;
    }
}

header.main-header {
    /*background-color: yellow;*/
    overflow: hidden;
    position: absolute;
    z-index: 2;
    height: 55px;
    top: 10px;
    right: 0;
    left: 0;
}

/*header.main-header > div {
    height: 55px;
    position: relative;

}*/

.main-header nav {
    /*background-color: black;*/
    position: absolute;
    right: 50px;
}

.main-header nav a {
    /*background-color: red;*/
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

.logo {
    /*background-color: green;*/
    height: 55px;
    width: 150px;
    display: inline-block;
    position: absolute;
    left: 50px;
}

div.main-hero {
    background-image: url("images/festival2-1.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
}

div.main-hero.thankyou-page {
    background-image: url("images/gathering.jpeg");
}

div.main-hero.user-home {
    background-image: url("images/livelycity1.jpg");
    height: 250px;
    background-position: center;
}

div.main-hero.search-results {
    background-image: url("images/events.jpg");
    height: 250px;
    background-position: center;
}

div.main-content {
    /*background-color: orange;*/
}

main div.user-search {
    padding: 0;
}

div.secondary-content {
    /*background-color: green;*/
    padding-top: 0;
}

footer.main-footer {
    background-image: url("images/tweed.png");
    font-size: 0.7em;
    text-align: right;

}


/*********************************************
    Components
**********************************************/


/*******Header********/
.logo a {
    color: white;
    text-decoration: none;
}

.logo-design {
    background-color: #323232;
    padding: 2px;
    border: 3px solid white;
    
}

.logo-color {
    color: #F79639;
}

/********Hero Main Content*********/

.main-hero-content {
    /*background-color: green;*/
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /*why do i have to add width*/
}

.main-hero.user-home > div {
}

.user-form {
    /*background-color: green;*/
    color: white;
    border: 3px solid #F79639;
    display: inline-block;
    border-radius: 15px;
    padding: 20px 15px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-form form {
    border-top: 2px solid #F79639;
    padding-top: 10px;

}

.user-form h1 {
    font-size: 1.7em;
}

.field {
    text-align: left;
    /*background-color: green;*/
    border: 1px solid transparent;
    margin-top: 7px;
}


.cf::after {
    content: "";
    clear: both;
    display: block;
}

.field .label {
    /*background-color: blue;*/
    float: left;
    width: 85px;
    display: block;
    margin-top: 7px;
}

.field .input {
    /*background-color: yellow;*/
    margin-left: 90px;
}

.form-submit {
    padding-top: 10px;
}

.submit-button {
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    color: white;
    /*border: 2px solid white;*/
    background-color: #F79639;
}

.main-hero-content button.signup-button {
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    /*border: 2px solid white;*/
    background-color: #F79639;

}

/********Main Content**********/

.user-tools .tool {
    vertical-align: top;
    width: 350px;
    /*min-height: 100px;*/
    color: white;
    display: inline-block; 
    transform: translateY(-30px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.user-edit .tool {
    vertical-align: top;
    width: 350px;
    /*min-height: 100px;*/
    color: white;
    display: inline-block; 
    transform: translateY(-30px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
}

.tool .tool-tab {
 /*   display: inline-block;*/
    /*color: #F79639;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*background-image: url("images/tweed.png");*/
    background-color: #4f4e4e;
    box-shadow: 0px 0px 10px -5px black;
    padding: 20px 0;
    margin: 0;

}

.tool > div {
    color: #4f4e4e;
    padding: 10px;
    box-shadow: 0px 0px 10px -5px black;
    /*border: 1px solid black;*/
    border-top: none;
    min-height: 175px;
}

.field .tool-label {
    width: 100px;
}

.field .tool-input {
    margin-left: 105px;
}

.signup-steps {
    /*background-color: yellow;*/
}

.signup-steps .step {
    /*background-color: yellow;*/
    padding: 0 15px;
    width: 30%;
    display: inline-block;
    vertical-align: top; 
}

.step-icon-border {
    /*font-size: 2.5em;*/
    color: #323232;
    display: inline-block;
    /*background-color: orange;*/
    border: 3px solid #F79639;
    padding: 5px 15px;
    border-radius: 50%;
}

.main-content .map {
    margin: 0 auto;
    background-color: grey;
    width: 700px;
    height: 400px;
    transform: translateY(-35px);
}


/*******Secondary Content********/

.secondary-content-divider {
    background-color: #4f4e4e;
    /*background-image: url("images/tweed.png");*/
}

.secondary-headline {
    color: white;
    padding: 20px;
}

.user-results-divider {
    background-color: black;
}

.user-results-headline {
    color: green;

}

.media-event-bio {
    background-color: rgb(232, 243, 249);
    overflow: hidden;
    margin: 10px;
}

.media-bio-pic {
    background-color: yellow;
    float: left;
    width: 200px;
    height: 200px;
}

.media-bio-content {
    background-color: white;
    margin-left: 210px;
    text-align: left;
}

.tag-icon {
    padding-left: 5px;
}

.secondary-why {
    padding: 10px 20px;
}

footer.main-footer > div {
    /*background-color: white;*/
    padding: 10px 20px;
    display: inline-block;
    width: 24%;
    vertical-align: top;
    text-align: left;
    color: white;
    /*height: 100px;*/
}

footer.main-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer.main-footer i {
    padding-right: 10px;
}

.site-links a {
    padding: 5px;
}

p.social-media i {
    font-size: 1.5em;
}

.hidden {
    display: none;
}
