<div class="main-hero search-results">

</div>
<div class="main-content">
	<div class="tool search-event">
		<form action="">
					<label>Categories:</label>
					<select name="categories">
					  <option value="">All</option>
					  <option value="art">Art</option>
					  <option value="benifits">Benefits</option>
					  <option value="bars">Bars</option>
					  <option value="conferences">Conferences</option>
					  <option value="cultural">Cultural</option>
					  <option value="day drinking">Day Drinking</option>
					  <option value="education">Education</option>
					  <option value="family">Family</option>
					  <option value="festivals">Festivals</option>
					  <option value="food and drink">Food and Drink</option>
					  <option value="happy hour">Happy Hour</option>
					  <option value="health and fitness">Health and Fitness</option>
					  <option value="music">Music</option>
					  <option value="nightlife">Nightlife</option>
					  <option value="outdoors">Outdoors</option>
					  <option value="performing arts">Performing Arts</option>
					  <option value="promotional events">Promotional Events</option>
					  <option value="sports participatory">Sports - Participatory</option>
					  <option value="sports spectator">Sports - Spectator</option>
					  <option value="religious">Religious</option>
					  <option value="theater">Theater</option>
					</select>

					<label>Dates:</label>
					<input type="date" >

					<label>Zip code:</label>
					<input type="text" maxlength="5">

				<button class="submit-button search-events">Submit</button>
		</form>
	</div>
	<div class="map">
		
	</div>
</div>
<div class="secondary-content">
	<div class="user-results-divider">
		<h1 class="user-results-headline">Results</h1>
	</div>
	<div class="media-event-bio-list">
		
	</div>
</div>