<div class="main-hero search-results">

</div>
<div class="main-content">
	<div class="map">
		
	</div>
</div>
<div class="secondary-content">
	<div class="user-results-divider">
		<h1 class="user-results-headline">Results</h1>
	</div>
	<div class="media-event-bio">
		<div class="media-bio-pic">
			<img src="" alt="event picture">
		</div>
		<div class="media-bio-content">
			<div>
				<h3>Event Name</h3>
			</div>
			<div>
				<p>short event bio: Lorem ipsum dolor sit amet, 
				consectetur adipisicing elit. Ex debitis consequatur 
				quam praesentium nisi repellat</p>
				<p><a href="">www.website.com</a></p>
				<i class="fa fa-plus logo-color"><a href=""></i><span class="tag-icon">Tag this event</span></a>
			</div>
		</div>
	</div>
</div>