<div class="main-hero">
	div.
	<div class="main-hero-content">

		<h1>Don't miss out ever again!</h1>
		<b><p>you've never seen an event finder like this one</p>
		<p>register today for free!</p></b>
		<button class="signup-button"><b>Sign up now</b> <i class="fa fa-arrow-right"></i></button>
	</div>
	<div class="user-form hidden">
		<h1>Registration Form</h1><br>
		<form action="" class="registration cf">
			<div class="user-form-column1">
				<div class="field">
					<div class="label">
						<label>Username:</label>
					</div>
					<div class="input">
						<input type="text" name="uname">
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Password:</label>
					</div>
					<div class="input">
						<input type="password" name="password">
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Email:</label>
					</div>
					<div class="input">
						<input type="email" name="email">
					</div>
				</div>
			</div>
			<div class="user-form-column2">						
				<div class="field">
					<div class="label">
						<label>Gender:</label>
					</div>
					<div class="input">
						<select name="gender">
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Birth Year:</label>
					</div>
					<div class="input">
						<input type="text" name="birthyear" size="6" maxlength="4">
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Zip Code:</label>
					</div>
					<div class="input">
						<input type="text" name="zipCode" size="6" maxlength="5">
					</div>
				</div>
			</div>
			<div class="form-submit">
				<button class="submit-button">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="main-content">
	<div class="signup-steps">
		<div class="step">
			<h1 class="step-icon-border">1</h1>
			<h3>Sign up for a Free Account</h3>
			<p>Registration is free and no sensitive or personal info
			is necessary. Simply create an account with a username, password,
			email address, age and location. It's that easy!</p>
		</div>
		<div class="step">
			<h1 class="step-icon-border">2</h1>
			<h3>Tag an Event</h3>
			<p>Simply enter the event name, location and details.
			By doing so you've just provided other users with the ability
			to see this event along with details of the users attending 
			this event.</p>
		</div>
		<div class="step">
			<h1 class="step-icon-border">3</h1>
			<h3>What's Going On</h3>
			<p>Finding something to do this weekend has never been easier.
			Search events by geographic location, dates and categories. 
			And get simple breakdown of who's attending based on ages and 
			genders</p>
		</div>			
	</div>
</div>
<div class="secondary-content">
	<div class="secondary-content-divider">
			<h1 class="secondary-headline">Every Event at Your Fingertips</h1>
	</div>
	<div class="secondary-why">
		<div class="hover-options">
			<div>
				<h2>Our Mission</h2>
			</div>
			<div class="line"></div>
		</div>
		<div>
			<p>EventsFetch wishes to solve the dilemma of not knowing what to 
			do once the clock strikes 5 or when the weekend finally comes. Our 
			philosophy is everyone should work to live and not live to work. 
			Since, most of us spend the majority of the day working we know how 
			important it is to make the most our of our free time. EventsFetch
			is dedicated to making sure you never waste a minute or miss out on
			a great event again.</p>
			<p>EventsFetch gives you the tools necessary to never miss out on 
			a great event again. By utilizing our application you not only 
			give yourself the opportunity to find that perfect event but also 
			contribute to the ability of others to also find the event just 
			right for them. All you have to do is fill out a quick signup form. 
			This will ask a few simple questions to help populate events with a 
			simple demographic of who will be attending. Unlike most sites you’re 
			information will never be seen by any other user instead it is 
			simply just for statistical purposes. </p>
			<p>Once you’re signed up it’s simply. If you already have plans 
			and know the event you are attending simply just search for the 
			event. Once you’ve found it click on the “tag it” link so we can 
			keep a running total of how many people will be attending. Don’t 
			know what you are doing this weekend? Run a search and see what 
			your locations most happening events are. All searches are based on 
			how many people will attend. So the top search will be the most 
			attended.</p>
		</div>
	</div>
</div>