<div class="main-hero">
	div.
	<div class="main-hero-content">

		<h1>Don't miss out ever again!</h1>
		<b><p>you've never seen an event finder like this one</p>
		<p>register today for free!</p></b>
		<button class="signup-button"><b>Sign up now</b> <i class="fa fa-arrow-right"></i></button>
	</div>
	<div class="user-form hidden">
		<h1>Registration Form</h1><br>
		<form action="" class="registration cf">
			<div class="user-form-column1">
				<div class="field">
					<div class="label">
						<label>Username:</label>
					</div>
					<div class="input">
						<input type="text" name="uname">
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Password:</label>
					</div>
					<div class="input">
						<input type="password" name="password">
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Email:</label>
					</div>
					<div class="input">
						<input type="email" name="email">
					</div>
				</div>
			</div>
			<div class="user-form-column2">						
				<div class="field">
					<div class="label">
						<label>Gender:</label>
					</div>
					<div class="input">
						<select name="gender">
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Birth Year:</label>
					</div>
					<div class="input">
						<input type="text" name="birthyear" size="6" maxlength="4">
					</div>
				</div>
				<div class="field">
					<div class="label">
						<label>Zip Code:</label>
					</div>
					<div class="input">
						<input type="text" name="zipCode" size="6" maxlength="5">
					</div>
				</div>
			</div>
			<div class="form-submit">
				<button class="submit-button">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="main-content">
	<div class="signup-steps">
		<div class="step">
			<h1 class="step-icon-border">1</h1>
			<h3>Sign up for a Free Account</h3>
			<p>Registration is free and no sensitive or personal info
			is necessary. Simply create an account with a username, password,
			email address, age and location. It's that easy!</p>
		</div>
		<div class="step">
			<h1 class="step-icon-border">2</h1>
			<h3>Tag an Event</h3>
			<p>Simply enter the event name, location and details.
			By doing so you've just provided other users with the ability
			to see this event along with details of the users attending 
			this event.</p>
		</div>
		<div class="step">
			<h1 class="step-icon-border">3</h1>
			<h3>What's Going On</h3>
			<p>Finding something to do this weekend has never been easier.
			Search events by geographic location, dates and categories. 
			And get simple breakdown of who's attending based on ages and 
			genders</p>
		</div>			
	</div>
</div>
<div class="secondary-content">
	<div class="secondary-content-divider">
			<h1 class="secondary-headline">This is the main headline</h1>
	</div>
	<div class="secondary-why">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing 
		elit. Maxime laboriosam impedit rerum, qui nihil id eaque 
		quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Assumenda modi amet reprehenderit, libero explicabo debitis dolorum 
		nesciunt, illum nobis dolor officiis. Recusandae inventore perspiciatis 
		labore, quis architecto libero laborum dicta.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Earum debitis obcaecati, iste quo rerum necessitatibus 
		voluptates deserunt! Ad mollitia non enim sint Lorem ipsum dolor 
		sit amet, consectetur adipisicing elit. Rerum magnam vel numquam 
		laborum illum itaque, aspernatur ratione adipisci corporis voluptatem, 
		at quia. Iusto deleniti, vel ipsam. Cum nemo, in reiciendis.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eos soluta 
		saepe molestiae cumque laudantium, natus provident in facere 
		repellat quasi nulla est incidunt excepturi ea magnam expedita, 
		fuga necessitatibus.</p>
	</div>
</div>