<div class="main-hero thankyou-page">
	<div class="main-hero-content">
	<h1>Congratulations and thank you for choosing EventsFetch!</h1>
		<p>The ability to find every event happening in your 
		area or around the country is now at your fingertips.</p>
		<button class="get-started">Get Started <i class="fa fa-arrow-right"></i></button>
	</div>
</div>